.hero{
    margin: 0px 100px;
    margin-top: 200px;
}
.hero-text{
    color:black;
    font-size: 50px;
    font-weight: 100;
    line-height:40px;
}
.hero-explore{
    display: flex;
    gap: 30px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 50px;
    background-color:white;
    align-items: center;
    cursor: pointer;
}
.text{
    color:white;
    font-size: 30px;
    text-align: right;
    font-style: oblique;
}
.hero-play {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 10px;

  background: rgba(0, 0, 0, 0.5);
  padding: 10px 14px;
  border-radius: 30px;

  z-index: 1000;
}

.hero-play img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hero-play .text {
  color: white;
  font-size: 14px;
}
.hero-text p {
  animation: colorToggle 10s infinite;
}

@keyframes colorToggle {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}
