.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color:black;

}
.nav-logo{
    display: flex;
    text-decoration: black;
    text-justify: auto;
    font-family:Georgia;
    font-size: 50px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items:right;
    padding-top: 12px;
    font-size: 20px;
    gap: 40px;
}
