.background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed;
    height: 100vh;
    padding: none;
    width: 100%;
    top: 0%;
    right: 0%;
    left: 0%;
    background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    );
    bottom: 0%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}
.background1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     background-attachment: fixed;
    height: 100vh;
    padding: none;
    width: 100%;
    top: 0%;
    right: 0%;
    left: 0%;
    float: left;
    background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    );
    bottom: 0%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}
.background2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     background-attachment: fixed;
    height: 100vh;
    width: 100%;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    position: fixed;
    background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    );
        object-fit: cover;
    z-index: -1;
}
 

